<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="~/css/styles_indexpp.css">
    <!-- Vincula Font Awesome para usar los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="indexpp-container">
        <h1>Bienvenido a la Gestión de Productos</h1>
        <p>Utiliza el menú para navegar.</p>
        <nav>
            <ul>
                <li><a href="/Product/Index"><i class="fas fa-plus-circle"></i> Agregar Productos</a></li>
                <li><a href="/Product/List"><i class="fas fa-list"></i> Ver Todos los Productos</a></li>
                <li><a href="/Product/Index"><i class="fas fa-plus-circle"></i> Nuevo pedido</a></li>
                <li><a href="/Product/List"><i class="fas fa-list"></i> Finanzas</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
